<div class="todo-wrapper">
    <h2>Tasks To Do: {{todo.getIncompleteTodos()}}</h2>
    <ul>
        <li ng-repeat="item in todo.todos">
            <label class="todo">
                <input type="checkbox" ng-model="item.done"/>
                <span class="done-{{item.done}}">{{item.text}}</span>
            </label>
        </li>
    </ul>
    <form>
        <input placeholder="I need to..." type="text" ng-model="todo.formTodoText" />
        <button ng-click="todo.addTodo()">Add</button>
    </form>

    <br />
    <button ng-click="todo.clearCompleted()">Clear completed</button>
</div>